* {
    margin: 0 auto;
    font-family: Capriola;
  }

@font-face {
    font-family: BanzaiBros;
    src: url(../fonts/BanzaiBros.ttf);
 }

 @font-face {
    font-family: Capriola;
    src: url(../fonts/Capriola-Regular.ttf);
 }

body{
    font: normal 15pt Arial;
    background-color: #461C58;    
}

header{
    color: white;
    text-align: center; 
}

h2,h1{
    font-family: BanzaiBros;
}

#container__header{
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#container__header img{
    max-width: 150px;
}

header h1,img{
    transition: 1000ms;
    color: #00B49D;
}

header h1:hover,img:hover{
    transform: scale(1.5);
}

header input{
    background-color: transparent;
    border: none;
    font-size: larger;
    margin: 0 0 0 10px;
    border-bottom: 1px solid white;
    color: #00B49D;
}

header input::placeholder{
    color: #00B49D;
}

section{
    margin: auto;
    max-width: 81%;
}

.all__box{
    min-width: 200px;
    max-width: 300px;
    min-height: 200px;
    float: left;
    background-color: #FFC20D;
    margin: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
    color: #461C58  ;
}

.all__box h2{
    margin: 10px;
}

.all__box p{
    text-align: justify;
    margin: 10px;
}

.all__box img{
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    max-width: 250px;
    max-height: 250px;
    transition: 300ms;
    border-radius: 10px;
}

.all__box img:hover{
    transform: scale(1.07);
}

.display__input{
    display: none;
    
}

.all__box textarea{
    width: 90%;
    resize: none;
    font-size: large;
    background-color: white;
    outline-width: 0;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.267);
    margin-top: 10px;
    transition: 300ms;
    color: #461C58  
   }

.all__box textarea:hover,textarea:focus{
    transform: scale(1.07);
}


textarea::placeholder {
    color:  #461C58  
  }



.tittle__box{
    border: none;
    font-size: x-large;
    margin: auto;
    min-width: 100px;
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
    background-color: transparent;
    transition: 300ms;
    color:  #461C58  
  }

.tittle__box:hover , .tittle__box:focus{
    transform: scale(1.5);
    width: 70%;
}


.tittle__box::placeholder{
    color: #461C58  
  }


#finish{
    width: 100%;
    margin: auto;
    background-color: #00B49D;
    min-height: 80px;
    float: left;
    text-align: center;
}


#finish__button{
    cursor: pointer;
    color: #461C58;
    transition: 500ms;
    font-size: 37px;
    border:none;
    background-color: transparent;
    font-family: BanzaiBros ;
    margin: 5px;
    padding-top: 7.5px;
}


#finish__button:hover{
    transform: scale(1.05);
    color: #461C58;
    background-color: #FFC20D;
    border-radius: 20px;
}

 footer{
    color: white;
    text-align: center;
    min-width: 700px;
    width: 100%;
    margin: auto;
    height: 40px;
    float: left;
}

  @media (min-width: 120px) {
      #container__header{
        flex-direction: column;
    }
  }

  @media (min-width: 769px) {
  
    #container__header{
        flex-direction: row;
    }
  }

  @media print {
    section{
        max-width:100%;
    }

    .all__box{
        width: 16%;
    }

    #finish{
        display: none;
    }

    #first__box{
        margin-left: 1.2%;
    }

    @page {
        size:A3 landscape;
      }
  }
